* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    padding: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}